/.idea/
/.env
/html/*
/docker/
/config-module/config/scenari_manuals.json
/config-module/config/configuration_noms_chemins_manuels.json
/config-module/config/scenari_ateliers.json
/config-module/config/scenari_ateliers_erreurs.json
logs/
**/__pycache__/
venv/
*.pyc
*.pyo
*.log
*.pyc
*.pyo
*.iml
